@import '~bootstrap/scss/bootstrap.scss';

$grey-stat: #b1bbc5;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
}

#root {
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  // justify-content: center;
}

.main {
  width: 100%;
  height: 100vh;
}

p {
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  margin: 1rem;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto;
  // justify-content: center;
}

// *****************************************************************************

.owner-card {
  display: flex;
  flex-direction: column;
  min-width: 425px;
  max-width: 500px;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.owner-card-header {
  display: flex;
  justify-content: space-between;
  // border: 1px solid black;
}

.owner-card-header h2 {
  font-weight: 600;
  font-size: 1.3rem;
}

.owner-card-overview,
.owner-card-dropdown,
.owner-card-stats,
.owner-card-year {
  display: flex;
  // border: 1px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.owner-card-overview {
  gap: 1rem;
  justify-content: flex-start;
}

.owner-card-stats {
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: .3rem;
  // maybe use space-between & padding-left to align with name and image above
}

.owner-card-stats p {
  padding-bottom: .3rem;
  padding-top: .3rem;
}

.stats-top {
  font-weight: 500;
  padding-bottom: .05rem;
}

.stats-bottom {
  padding-top: .05rem;
  font-size: .7rem;
  color: $grey-stat;
  font-weight: 500;
}

.twelve-stat {
  font-size: .8rem;
  color: grey;
  font-weight: 400;
}

.owner-card-overview-image {
  align-self: center;
}

.owner-card-dropdown {
  margin-top: .3rem;
  margin-bottom: .3rem;
}

.owner-name {
  padding-left: 1rem;
}

.bold-stat {
  font-weight: bold;
}

// button group ****************************************************************
.btn-group {
  display: flex;
  padding-right: 1rem;
  align-items: center;
}

.btn-group button {
  background-color: #0c6dfc;
  border: 1px solid #0c6dfc;
  color: white;
  width: 4.5rem;
  height: 1.8rem;
  cursor: pointer;
  float: left;
  font-size: .6rem;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #74abfd;
}

.btn-left {
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
}

.btn-right {
  border-top-right-radius: .6rem;
  border-bottom-right-radius: .6rem;
}

.year {
  background: none;
  border: none;
  color: blue;
  font-size: 1rem;
  cursor: pointer;
}

.year:hover {
  text-decoration: underline;
}

.dropdown-button {
  cursor: pointer;
  background-color: #0c6dfc;
  color: white;
  border: none;
  padding: .3rem 1rem;
  border-radius: .5rem;
  font-size: .6rem;
  font-weight: 300;
}

.hidden {
  display: none;
}

// @media (max-width: 1350px) {
//   .grid {
//     grid-template-columns: auto auto;
//     justify-content: center;
//   }
//   .owner-card {
//     min-width: 475px;
//   }
// }

@media (max-width: 1010px) {
  .grid {
    grid-template-columns: auto;
    justify-content: center;
  }
  .owner-card {
    min-width: 400px;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.new-card {
  width: 300px;
  border: none;
  border-color: $primary;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  // border: 1px solid red;
}

.card-title {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.card-image img {
  border-radius: 10rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.nav-link {
  font-size: .55rem;
  padding: .25rem .50rem;
  margin: 0;
}

.header {
  justify-content: space-between;
  // padding-left: .5rem;
  // padding-right: .5rem;
}

.card-body {
  padding: 1rem;
  padding-top: .75rem;
  padding-bottom: .5rem;
}

.flex {
  display: flex;
}

.perm-stats {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.perm-top {
  font-size: .75rem;
  font-weight: 400;
}

.perm-bottom {
  font-size: .55rem;
  font-weight: 300;
}

.perm-stats div p span {
  font-weight: 600;
}

.changed-stats {
  justify-content: space-between;
  padding-top: .5rem;
  font-weight: 400;
}

.stats-col-stat {
  font-size: .50rem;
}

.stats-col-la {
  font-size: .35rem;
}

.la-stat {
  font-weight: 400;
  // color: $primary;
}

.la-group {
  display: flex;
  justify-content: space-between;
}

.differential {
  font-size: .35rem;
  color:rgb(0, 151, 0)
}

.stat-group:not(:last-child) {
  padding-bottom: .5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.stats-col-stat span {
  font-size: .5rem;
  font-weight: 600;
}

.gold {
  color: goldenrod;
}

.wins {
  color: rgb(0, 151, 0);
}

.losses,
.red {
  color: rgb(177, 0, 0);
}

.card-footer {
  padding: 0;
  display: flex;
  overflow: hidden;
  border-color: $primary;
}

.card-footer-button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  font-size: .5rem;
  padding: 0;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

// Gold stats mean you lead the league in that category