@import '~bootstrap/scss/bootstrap.scss';

$grey-stat: #b1bbc5;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
}

#root {
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  // justify-content: center;
}

.nav-main {
  background-color: rgb(255, 255, 173);
}

.nav-flex {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  margin: 0;
  padding: 1rem;
}

.main {
  width: 100%;
  height: 100vh;
}

p {
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  margin: 1rem;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto;
  // justify-content: center;
}

@media (max-width: 1010px) {
  .grid {
    grid-template-columns: auto;
    justify-content: center;
  }
  .owner-card {
    min-width: 400px;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.new-card {
  width: 300px;
  border: none;
  border-color: $primary;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  // border: 1px solid red;
}

.card-title {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.card-image img {
  border-radius: 10rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.nav-link {
  font-size: .55rem;
  padding: .25rem .50rem;
  margin: 0;
}

.header {
  justify-content: space-between;
  // padding-left: .5rem;
  // padding-right: .5rem;
}

.card-body {
  padding: 1rem;
  padding-top: .75rem;
  padding-bottom: .5rem;
}

.flex {
  display: flex;
}

.perm-stats {
  display: flex;
  align-items: center;
  gap: 1rem;
  // testing below
  background-color: #f0f0f0;
  padding: .5rem;
  border-radius: .3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.perm-top {
  font-size: .75rem;
  font-weight: 500;
}

.perm-bottom {
  font-size: .6rem;
  font-weight: 400;
}

.perm-stats div p span {
  font-weight: 600;
}

.changed-stats {
  justify-content: space-between;
  padding-top: .5rem;
  font-weight: 400;
}

.stats-col-stat {
  font-size: .50rem;
}

.stats-col-la {
  font-size: .35rem;
  font-style: italic;
  font-weight: 300;
}

.la-stat {
  font-weight: 600;
  font-style: italic;
  // color: $primary;
}

.la-group {
  display: flex;
  justify-content: space-between;
  transform: translateY(-2px);
}

.differential {
  font-size: .35rem;
  color:rgb(0, 151, 0);
  font-style: italic;
}

.stat-group:not(:last-child) {
  padding-bottom: .3rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.stats-col-stat span {
  font-size: .5rem;
  font-weight: 600;
}

.gold {
  color: goldenrod;
}

.red {
  color: rgb(177, 0, 0);
}

.card-footer {
  padding: 0;
  display: flex;
  overflow: hidden;
  border-color: $primary;
}

.card-footer-button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  font-size: .5rem;
  padding: 0;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.perm-group {
  transform: translateY(-3px)
}

.main-stat {
  color:#000000;
}

.memoji {
  height: 50px;
  width: 50px;
  background-color: rgb(255, 221, 148);
}

.view-test {
  text-align: center;
  font-size: .75rem;
  padding-top: .5rem;
}


// Gold stats mean you lead the league in that category